.git/
Terraform/./
Terraform/../
*.tfstate
*.tfstate.*
Terraform/.terraform/
.terraform.lock.hcl
# Local .terraform directories
**Terraform/.terraform/*
*.tfvars
*.tfvars.json
*.log

*.terraform/
*terraform.tfstate
*terraform.tfstate.backup

